<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Home</title>
    <link rel="stylesheet" th:href="@{/styles/style.css}" href="/styles/style.css">
</head>
<body>
  <header>
    <nav>
      <h1>CRUD Departamento e Produto</h1>
      <div class="titulo">
        <a th:href="@{/departamentos}">Departamentos</a>
        <a th:href="@{/produtos}">Produtos</a>
      </div>
    </nav>
  </header>
  <main>
      <p id="bem-vindo">Bem-vindo ao sistema!</p>
  </main>
</body>
</html>
