html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    transition: 0.5s;
    font-size: 18px;
    font-weight: 600;
    font-family: "Staatliches", sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    width: 100%;
    color: rgb(39, 39, 39);
    background-color: rgb(255, 255, 255);
}

nav {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 60dvh;
    background-color: rgb(204, 204, 204);
    height: 15dvh;
    padding: 0 7dvh;
    color: #0C2833;
}

nav a {
    font-size: 1.25rem;
    color: #0A2833;
}

nav a:hover {
    transform: scale(1.1);
    color: #9CA9AE;
}

header {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 140dvh;
    background-color: rgb(204, 204, 204);
    height: 15dvh;
    padding: 0 7dvh;
    color: #0C2833;
}

.titulo {
    display: flex;
    gap: 10dvh;
}

.ativo {
    padding: 3.6dvh;
    background-color: rgb(255, 189, 65);
    color: white;
}

.ativo:hover {
    transform: none;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10dvh;
    padding: 10dvh 0;
}

#bem-vindo {
    font-size: 4rem;
    color: #122A33;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2dvh;
    padding: 6dvh 8dvh;
    background-color: rgb(247, 247, 247);
    color: rgb(155, 155, 155);
    border-radius: 2dvh;
}

h1 {
    font-size: 30px;
    color: rgb(24, 24, 24);
}

p {
    font-size: 16px;
    color: rgb(173, 173, 173);
}

p a {
    font-size: 18px;
    color: rgb(54, 54, 54);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3dvh;
}

input {
    width: 40dvh;
    padding: 1.5dvh;
    margin: 1dvh;
    background-color: rgb(253, 253, 253);
    border-radius: 1dvh;
    border: 2px solid rgb(150, 150, 150);
    color: rgb(0, 0, 0);
}

input:focus {
    transform: scale(1.03);
    background-color: rgb(231, 231, 231);
    color: rgb(102, 102, 102);
    border: 2px solid rgb(150, 150, 150);
    outline: none;
}

.bloco-inputs {
    display: flex;
    gap: 5dvh;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th {
    padding-bottom: 2dvh;
}

table td {
    padding: 2dvh;
    border: 2px solid rgb(150, 150, 150);
}

table td button {
    background-color:rgb(247, 247, 247);
    border: none;
    cursor: pointer;
}

td .icon {
    border: none;
}

.submit {
    padding: 1.5dvh 3dvh;
    background-color: #0C2833;
    color: white;
    border: 2px solid #0C2833;
    border-radius: 0.5rem;
    cursor: pointer;
}

.submit:hover {
    transform: scale(1.2);
    background-color: white;
    color: #0C2833;
}

label {
    display: flex;
    align-items: center;
    text-align: center;
}

textarea {
    border: 2px solid rgb(150, 150, 150);
    border-radius: 0.5rem;
    margin: 1dvh;
}

textarea:hover {
    transform: scale(1.02);
}

.buttons {
    background-color: #0C2833;
    color: white;
    padding: 1dvh 2dvh;
    border-radius: 0.5rem;
}

#departamento {
    display: flex;
    gap: 20dvh;
    padding-left: 20dvh;
}